/*estilos de portada contactenos*/
.contactenosBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height:700px;
}




.contenidoContactenos {
  max-width: 900px;
  margin-bottom: 35px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfede3;
  line-height: 40px;
  border-radius: 10px;
}




/*seccion de informacion de conocenos*/
.conocenosInfo {
  flex-direction: column;
  height: 900px;
  width: 100%;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 60px;
}

.texto{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.contenedorImage {
  max-width: 900px;
  margin: 20px 0;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.conocenosContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height:40px;
}

.conocenosContenido h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}

.conocenosContenido p{
  max-width: 900px;
  margin-bottom: 35px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorImage {
  width: 100%;
  max-width: 700px;
}

.contenedorImage img {
  width: 100%;
}

#btnContactenos {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width: 1800px) {
  .conocenosInfo {
    flex-direction: row;
  }
  .conocenosContenido {
    align-items: flex-start;
  }
}

.sobreEquipo{
  margin-left: 160px;
  margin-bottom: 60px;
}
.integrantesHermes{
  margin-top: 50px;
  margin-left: 160px;
  margin-bottom: 60px;
}
.contactenosTitulo h2{
  font-size: 80px;
  padding-bottom: 20px;
}
.EquipoTitulo{
  text-align: center;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.EquipoTitulo h2{
  text-align: center;
  font-size: 40px;
  font-weight: 10px;
}

.EquipoTitulo p{
  text-align: center;
  padding: 50px;
  font-size: 30px;
  background-color:#77c289 ;
  border-radius: 10px;
  width: 50%;
  height: 20px;
  color: #fff;
  justify-content: center;
  
}

#sectionDosColumnas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.fondoNegro{
  margin: 15px;
  background-color: #286412;
  border-radius: 10px;
}
.parafoColumna{
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
  line-height: 2;
  color: #fff;
  font-size: medium;

}

.parafo{
  margin-top: 15px;
  margin-left: 15px;
  line-height: 2;
  color: black;
  font-size: medium;
}

.integrantes img{
  height: 200px;
  width: 200px;
}

.integrantes{
  display: flex;
}
.integrantes div{
  margin-left: 30px;
  margin-top: 40px;
}
