/* GENERALES */

:root {
    --color-black: #000000;
    --color-lightgreen1: #dfede3;
    --color-lightgreen2: #77c289;
    --color-green: #22a241;
    --color-darkgreen: #286412;
    --color-white: #ffffff;
}

html {
    box-sizing: border-box;
    
}

html::-webkit-scrollbar {
    display: none;
}

*, *:before, *:after {
box-sizing: inherit; /* COMPLEMENTO DE BOX SIZING (PAUL IRISH):  https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

footer {
    margin-top: auto;
}

a {
    text-decoration: none;
}

/* NAV */

.navMobile,
.navDesktop {
    background-color: var(--color-lightgreen2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.navMobile .logo,
.navDesktop .logo {
    height: 45px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navMobile .logo a,
.navDesktop .logo a {
    font-size: 40px;
    color: var(--color-lightgreen1);
}

/* NAV MOBILE ONLY */

.navMobile #menuButton {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    z-index: 2;
}

.navMobile #menuButton .whiteBar {
    background-color: var(--color-lightgreen1);
    height: 5px;
    width: 40px;
    position: absolute;
}

.navMobile #menuButton .whiteBar:nth-child(2) {
    transform: translateY(-12px);
}

.navMobile #menuButton .whiteBar:nth-child(3) {
    transform: translateY(12px);
}

#menu {
    position: fixed;
    top: 0;
    right: -250px;
    display: flex;
    flex-direction: column;
    padding: 55px 20px;
    width: 250px;
    height: 100vh;
    background: var(--color-lightgreen1);
    z-index: 100;
    transition: all .5s;
}

#backMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    transition: all .5s;
    z-index: 50;
}

#menu a {
    font-size: 20px;
    color: var(--color-black);
    margin-bottom: 25px;
}

#menu a:hover {
    font-size: 20px;
    color: var(--color-green);
}

/* NAV DESKTOP ONLY */

.navDesktop {
    display: none;
}

.navDesktop .links {
    display: flex;
    align-items: center;
}

.navDesktop .links li {
    margin-right: 40px;
}

.navDesktop .links li:last-child {
    margin-right: 0;
    border: 2px solid var(--color-lightgreen1);
    border-radius: 5px;
}

.navDesktop .links a {
    font-size: 20px;
    width: 120px;
    padding: 10px 0;
    display: block;
    color: var(--color-lightgreen1);
}

.navDesktop .links a:last-child {
    text-align: center;
    width: 120px;
    color: var(--color-lightgreen1);
}






@media (min-width: 768px) {
    .navDesktop {
        display: flex;
        height: 70px;
    }
    .navMobile {
        display: none;
    }

    .navDesktop .logo {
        margin-left: 40px;
    }

    .navDesktop .links {
        margin-right: 40px;
    }

    .navDesktop .links a:hover {
        color: var(--color-lightgreen2);
    }
}


/* FOOTER */

.footerContainer{
    width: 100%;
    background-color:var(--color-lightgreen2);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footerContainer .logo{
    height: 45px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 40px;
    height: 60px;
}

.footerContainer .logo a{
    color: var(--color-lightgreen1);
}

.footerContainer .textFooter {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 60px;
}

.footerContainer .textFooter .links {  
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-content: space-between;
    width: 100%;
}

.footerContainer .textFooter .links li {  
    margin-right: 10px;
}

.footerContainer .textFooter .links li:last-child{
    margin-right: 0;
}

.footerContainer .textFooter .links a{
    color: var(--color-lightgreen1);
    text-decoration: underline;
}



.footerContainer .social{
    margin-right: 40px;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.footerContainer .social .iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    background-color: var(--color-lightgreen1);
    border-radius: 50%;
    margin-right: 10px;
}

.footerContainer .social .iconContainer a {
    font-size: 20px;
    color: var(--color-lightgreen2);
}





@media (max-width: 768px) {
    .footerContainer .footerContainerDos{
        display: flex;
        height: 50px;
        display:block;
    }


    .footerContainer .footerIntern{
        display: block;
    }


    .footerIntern .social{
        margin-left: 2px;
    }

    .footerIntern .links li {
        margin-right: 120px;
    }

}

/* FOOTER Final*/