/*Estilos de la seccion Banner Principal*/
.bannerPrincipal {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    background-image: url(../Img/index/portada.jpg);
    width: 100%;
    height: 700px;
}

.textPrincipal {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textPrincipal h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.textPrincipal p {
    margin-bottom: 35px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorRegistroPrincipal {
    display: flex;
    justify-content: center;
    max-width: 600px;
    height: 400px;
    background-color: #ffffff;
    opacity: 80%;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

#btnRegistrateYa {
    background-color: #286412;
    border: 2px;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    height: 40px;
    width: 150px;
    font-size: 16px;
}

#btnRegistrateYa:hover {
    box-shadow: inset 1px 4px 6px 2px rgba(0, 0, 0, .1);
    background: #000000;
}

.formPrincipal {
    width: 150%;
    height: 35px;
    margin: 15px;
    padding-top: 25px;
}

#txtEmail {
    width: 61%;
}

label {
    font-size: 18px;
}

input {
    justify-content: center;
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgb(80, 80, 80);
    font-size: 16px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

#fotoUsuario {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 34%;
}

.btnRegistrarse {
    background-color: #286412;
    border: 2px;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    height: 40px;
    width: 150px;
    font-size: 16px;
    margin-left: 33%;
    margin-top: 8%;
}

.btnRegistrarse:hover {
    box-shadow: inset 1px 4px 6px 2px rgba(0, 0, 0, .1);
    background: #000000;
}

@media (max-width: 746px) {
    .contenedorRegistroPrincipal {
        display:none
    }
}

@media (min-width: 746px) {
    #btnRegistrateYa {
        display:none
    }
} 

/*estilos de la seccion Que es por SVC*/

.seccionQueEs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(../Img/index/imgIndex.jpg);
    width: 100%;
    height: 700px;
}

.textQueEs {

    max-width: 500px;
    background: #dfede3;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    color: black;
}

.textQueEs h2{
    font-size: 32px;
    margin-bottom:10px;
    font-weight: bold;
}

.buttonInformacion {
    background-color: #286412;
    border: 2px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5%;
    height: 40px;
    width: 150px;
    font-size: 16px;

}

.buttonText {
    color: white;

}



.buttonInformacion:hover {
    box-shadow: inset 1px 4px 6px 2px rgba(0, 0, 0, .1);
    background: #000000;

}


@media (min-width: 1048px) {
    #fondoSeccionQueEs {
        background-size: cover;
    }

    .textQueEs {
        height: 700px;
        margin: 80px 40px 80px 40px;

    }

    .textQueEs p {
        margin: 40px 40px 40px 40px;
        line-height: 40px;
    }
    .textQueEs h2{
        margin:40px 40px 40px 40px;
        font-weight:bold;
    }

    .buttonInformacion {
        height: 50px;
        width: 200px;
    }

}

/*Termina estilos de la seccion Que es*/

/*estilos de la seccion beneficios por SVC*/
.beneficioContenedor {
    display: flex;
    flex-direction: column;
    background-color: #dfede3;
    justify-content: center;
    align-items: center;

}

.encabezadoBeneficio {
    border: 1px solid #dfede3;
    max-width: 500px;
    margin: 0px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;


}

.encabezadoBeneficio h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}


.beneficio {

    max-width: 300px;
    margin-bottom: 35px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.icon {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    background-color: #286412;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.beneficio .icon i {
    font-size: 60px;
    color: white;
}


.text h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.text p,
.text h3,
.encabezadoBeneficio p {
    text-align: center;

    padding: 0 5px 5px 5px;

}

@media (min-width: 746px) {
    .beneficioContenedor {
        flex-direction: column;
        align-items: center;

    }

    .encabezadoBeneficio {
        flex-direction: column;
        width: 800px;

    }

    .beneficio {

        margin-right: 20px;

    }

    .beneficio:last-child {
        margin-right: 0;
    }


    .row {
        display: flex;
        flex-direction: row;
    }


    .fa fa-heartbeat {
        margin-right: 10px;
        margin-left: 20px;
    }
}

/*Hasta aqui los estilos de la seccion beneficios hecho por SVC*/

/* Seccion Slider de Recetas */

#seccionSlider {
    padding: 40px;
    height: 800px;
    width: 100%;
}

#seccionSlider h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

#seccionSlider .contenedorPrincipal {
    max-width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#seccionSlider .contenedorSlider {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}


#seccionSlider .contenedorSlider input[type='radio'] {
    display: none;
}

#seccionSlider .cards {
    position: relative;
    width: 100%;
    height: 100%;
}

#seccionSlider .card {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#seccionSlider .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#seccionSlider .cardInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(41, 41, 41, 1) 100%);
}


#seccionSlider .cardText {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 70%;
    text-align: right;
    color: var(--color-white);
}

#seccionSlider .cardButton {
    display: block;
    color: white;
}


#seccionSlider .card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

#seccionSlider .card p {
    font-size: 14px;
}

#slider-opt1:checked~.cards #slider-img7,
#slider-opt2:checked~.cards #slider-img1,
#slider-opt3:checked~.cards #slider-img2,
#slider-opt4:checked~.cards #slider-img3,
#slider-opt5:checked~.cards #slider-img4,
#slider-opt6:checked~.cards #slider-img5,
#slider-opt7:checked~.cards #slider-img6 {
    transform: translateX(-115%);
    opacity: 0.8;
    z-index: 3;
}

#slider-opt1:checked~.cards #slider-img6,
#slider-opt2:checked~.cards #slider-img7,
#slider-opt3:checked~.cards #slider-img1,
#slider-opt4:checked~.cards #slider-img2,
#slider-opt5:checked~.cards #slider-img3,
#slider-opt6:checked~.cards #slider-img4,
#slider-opt7:checked~.cards #slider-img5 {
    transform: translateX(-220%);
    opacity: 0.4;
    z-index: 2;
}

#slider-opt1:checked~.cards #slider-img5,
#slider-opt2:checked~.cards #slider-img6,
#slider-opt3:checked~.cards #slider-img7,
#slider-opt4:checked~.cards #slider-img1,
#slider-opt5:checked~.cards #slider-img2,
#slider-opt6:checked~.cards #slider-img3,
#slider-opt7:checked~.cards #slider-img4 {
    transform: translateX(-325%);
    opacity: 0.2;
    z-index: 1;
    opacity: 0;
}

#slider-opt1:checked~.cards #slider-img4,
#slider-opt2:checked~.cards #slider-img5,
#slider-opt3:checked~.cards #slider-img6,
#slider-opt4:checked~.cards #slider-img7,
#slider-opt5:checked~.cards #slider-img1,
#slider-opt6:checked~.cards #slider-img2,
#slider-opt7:checked~.cards #slider-img3 {
    transform: translateX(325%);
    opacity: 0.2;
    z-index: 1;
    opacity: 0;
}

#slider-opt1:checked~.cards #slider-img3,
#slider-opt2:checked~.cards #slider-img4,
#slider-opt3:checked~.cards #slider-img5,
#slider-opt4:checked~.cards #slider-img6,
#slider-opt5:checked~.cards #slider-img7,
#slider-opt6:checked~.cards #slider-img1,
#slider-opt7:checked~.cards #slider-img2 {
    transform: translateX(220%);
    opacity: 0.4;
    z-index: 2;
}

#slider-opt1:checked~.cards #slider-img2,
#slider-opt2:checked~.cards #slider-img3,
#slider-opt3:checked~.cards #slider-img4,
#slider-opt4:checked~.cards #slider-img5,
#slider-opt5:checked~.cards #slider-img6,
#slider-opt6:checked~.cards #slider-img7,
#slider-opt7:checked~.cards #slider-img1 {
    transform: translateX(115%);
    opacity: 0.8;
    z-index: 3;
}


#slider-opt1:checked~.cards #slider-img1,
#slider-opt2:checked~.cards #slider-img2,
#slider-opt3:checked~.cards #slider-img3,
#slider-opt4:checked~.cards #slider-img4,
#slider-opt5:checked~.cards #slider-img5,
#slider-opt6:checked~.cards #slider-img6,
#slider-opt7:checked~.cards #slider-img7 {
    transform: translateX(0);
    z-index: 5;
}


/* Hasta aqui los estilos del Slider de Recetas hecho por Andres */

/*Seccion Recomendacion de usuario hecho por SVC*/

.seccionRecommendUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(../Img/index/bottomsection.jpg);
    width: 100%;
    height: 700px;
}

.textRecomendacion {

    max-width: 500px;
    background: rgba(0, 0, 0, .8);
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5%;


}

.textRecomendacion h2{
    font-size: 32px;
    margin-bottom:20px;
    margin-top: 40px;
}

@media (min-width :1048px) {

    .textRecomendacion {
        height: 700px;
        margin: 80px 40px 80px 600px;

    }

    .textRecomendacion p {

        margin: 40px 40px 40px 40px;
        line-height: 60px;

    }


    .textRecomendacion h3 {
        font-size: 25px;
        margin: 40px 40px 40px 40px;
    }

    #seccionSlider .card {
        width: 400px;
        height: 400px;
    }

}

/*Fin de Seccion Recomendacion de usuario hecho por SVC*/




/*Seccion de planes por Sebas*/


 .titulo {
    width: 100%;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

h2 {
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;

}

.texto {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.listasPlanes {
    line-height: 50px;
    text-align: left;
}





@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-card{
    height: 600 px;
	width: 100%;
	display: flex;
    flex-direction: column;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
    height: 600 px;
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}
.card{
    height: 600 px;
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    flex-wrap: wrap;
}
.card:hover{
    height: 600 px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
    height: 600 px;
	width: 100%;
	height: 210px;
}
.card .contenido-card{
    height: 600 px;
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
    height: 600 px;
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
    height: 600 px;
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
    height: 600 px;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
    height: 600 px;
	background: #2fb4cc;
	color: #fff;
}

@media (min-width:768px){

    .container-card{
        flex-direction: row;
    }
    
	.card{
		margin: 15px;
	}

    #seccionSlider .card {
        width: 500px;
        height: 500px;
    }
}
