.footerContainer .social .iconContainer{
    background-color: #bdf347;
}

h2, h3, p{
    font-family: 'Inter', sans-serif;
}
/*sobrescrito los colores del nav y footer*/
.navMobile,
.navDesktop,
.footerContainer {
    background-color: #1d2549;
}
.navMobile .logo,
.navDesktop .logo {
    height: 45px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.hermes{

    font-size: 40px;
    color:linear-gradient(rgba(124,99,32,1), rgba(252,243,218,1), rgba(131,101,17,1) 79%);
}
    /*color: linear-gradient(90deg, rgba(124,99,32,1) 21%, rgba(252,243,218,1) 53%, rgba(131,101,17,1) 79%);
}


/*Estilos de la seccion Banner Principal*/

.bannerPrincipal { 
    position: relative;
    background-size: cover;
    background-image: url(../Img/HermesImg/primerseccion.jpg);
    width: 100%;
    height: 120vh; 
    display: flex;
    flex-direction: column; 
    justify-content:center;

    
}

.textBannerPrincipal {
    height:100%;
    width:50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.textPrincipal1 {
    max-width: 600px;
    flex-direction: flex;  
}
.titulo1{  
    line-height: 90px;
    color: #bdf347; 
    text-decoration: underline #fff;
	width: 100%;
	max-width: 1080px;
    font-weight: bold;
    font-size: 100px; 
    margin-bottom: 40px;

 
}

.explicacion { 
    display: flex;
    justify-content: flex;
    font-size: 20px;
    color:#ffffff; 
    line-height: 25px;
    margin-bottom: 60px;   
}

#btnRegistrateYa {
    background-color: #bdf347;
    border: 2px;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    height: 80px;
    width: 250px;
    font-size: 20px;
    flex-direction: flex;
    line-height: 90px;    
}

#btnRegistrateYa:hover {
    box-shadow: inset 1px 4px 6px 2px rgba(0, 0, 0, .1);
    background: #6a9906;
}

/*estilos de la seccion servicios por SVC*/

.seccionServicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background:#1d2549;
    width: 100%;
    height: 120vh;  
}
.servicios{
    display: flex;
    max-width: 1200px;
    min-width: 900px;
    justify-content: space-between;
    width: 100%;
}
.recuadroServicio{
    width: 300px;
    height: 300px;
    
}
.ttlImagenServicio{
    color: #fff;
    font-size: 40px;
    margin-bottom: 6;
    height:60%;
    width:80%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-content: flex-end;
}
.tituloServicios {
    color: #fff;
    font-size: calc(3rem + 1vmin);
    text-decoration: underline #bdf347;
    margin-bottom: 20px;
    height:30%;
    width:80%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.recuadroServicio img{
    width: 100%;  
    margin-bottom: 30px; 
    height: 90%;
}

/*Finaliza estilos de la seccion servicios por SVC*/

/*estilos de la seccion conocenos por SVC*/
.seccionConoceEquipo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background:linear-gradient(rgb(29,37,73), rgb(252, 252, 252),rgb(29,37,73));
    width: 100%;
    height: 120vh;
    padding: 40px 20px;
    color: #1d2549;
    
}
.equipo{
    display: flex;
    max-width: 1200px;
    min-width: 900px;
    justify-content: space-between;
    width: 100%;
    
}
.recuadroEquipo{
    width: 450px;
    height: 300px; 
}

.recuadroEquipo img{
    width: 90%;
    height: 90%;
    margin-bottom: 80px; 
    border-radius: 5%;
}

.ttlPerfil{
    font-size: 40px;
    margin-bottom:20px;
    height:90%;
    width:80%;
    display: flex;
    justify-content: left;
    flex-direction: row;

    
   
}
.tituloConoceEquipo{
    font-size: calc(3rem + 1vmin);
    text-decoration: underline #bdf347;
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 20px;
    height:20%;
    width:80%;
    align-content: flex-end;
}
/*Hasta aqui los estilos de la seccion conocenos hecho por SVC*/

.seccionContactenos{
    position: relative;
    width: 100%;
    height: 120vh; 
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(rgb(29,37,73), rgb(252, 252, 252));
}
.tituloContactenos{
    color: #fff;
    font-size: calc(3rem + 1vmin);
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;   

}

.textBannerContactenos{
    position: relative;
    display: flex;
    max-width: 1400px;
    min-width: 700px;
    width:90%;
    
}

.divTiposContactos{
    height: 80vh;
    width:70%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:  20px solid #bdf347;
    color:#ffffff;
    font-size: 20px;

}
.fieldContacto{
    height: 80vh;
    width:85%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    
}

/*seccion empresas*/
.seccionEmpresas{
    position: relative;
    background-size: cover;
    background-image: url(../Img/HermesImg/ultimaseccion.jpg); 
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 120vh; 
}
@media (max-width: 576px){

    
    /*toda la secion1 principal con foto o img*/
    .bannerPrincipal{

    }
    /*div que encierra texto*/
    .textBannerPrincipal{

    }
    /*div del titulo grandote*/
    .titulo1{

    }
    /*div que encierra texto de seccion 1*/
    .explicacion{

    }
    /*button seccion1 */
    #btnRegistrateYa{

    }


    /*toda la secion2 de contactenos con foto*/

    .seccionContactenos{

    }
    /*div que encierra todo el texto*/
    .textBannerContactenos{

    }
    /*secion1 de conocenos con foto*/
    .tituloContactenos{

    }
    /*secion1 de conocenos con foto*/
    .divTiposContactos{

    }
    /*secion1 de conocenos con foto*/
    .fieldContacto{

    }
}
/*
@media (max-width: 576px){

    #buttonRegistrateYa {
        padding: 20px 40px;
        max-width: 50px;
        text-transform: uppercase;
        font-size: 18px;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .bannerPrincipal{
        position: relative;
        height: 80vh; 
        width: 50vh;
        background-color: #1d2549;
        
    }


    .textBannerPrincipal {
        position: relative;
        height:80%;
        width:80%;
        font-size: 20px;
    }
    .titulo1{
        font-size: 40px;
    }
    .explicacion{
        position: relative;
        height:80%;
        width:60%;
    }
    .seccionContactenos{
        position: relative;
        height: 80vh; 
        width: 40vh;
        display: inline-block;

    }
    .textBannerContactenos{
        height: 90vh; 
        width: 40vh;
    }

    .seccionServicios{
        height: 1000px; 
        width: 400px;
    }
    .servicios{
        display: inline-block;
        max-width: 90%;
        min-width: 50%;
    }
    .recuadroServicio img{
        width: 300px;
        height: 300px;
        margin-bottom: 30px; 
    }
    .ttlImagenServicio{
        font-size: 50px;
        height :50%;
        margin-bottom: 30px;
    }
    .tituloServicios {
        font-size: 40px;
        height :10%;
    }
    
    .seccionConoceEquipo{
        height: 180vh; 
        width: 40vh;
    }
    .equipo{
        display: ;
        max-width: 90%;
        min-width: 50%;

    }
    .recuadroEquipo img{
        width: 200px;
        height: 200px;
        margin-bottom: 50px; 
        border-radius: 2%;
    }
    .ttlPerfil{
        font-size: 20px;
        height :10%;
    }
    .tituloConoceEquipo{
        font-size: 40px;
        color:#fff;
        height :5%;
    }
    .seccionEmpresas{
        height: 90vh; 
        width: 40vh;
    }
    
}
*/
@media all and (max-width: 768px) {
    

}

@media all and (max-width: 992px){

}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1920px){

}