/*Estilos de la seccion Banner Principal*/

.navDesktop {
    background-color: #00000000;
    z-index: 10;
}

.bannerPrincipal {
    position: relative;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(../Img/index/portada.jpg);
    width: 100%;
    height: 100vh;
    text-align: center;
}

/* .bannerPrincipal .oscurecerFondo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.531);
    height: 100%;
    width: 100%;
    z-index: 1;
} */


.bannerPrincipal .titulo {
    color: #fff;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
    z-index: 10;

}

.explicacion {
    display: flex;
    justify-content: flex;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: flex;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #669999;
    background-image: url(../Img/index/portada.jpg);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 900px;
}

.titulo1 {

    line-height: 90px;
    color: #fff;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 10px;
    display: flex;
    font-weight: bold;
    font-size: 90px;
    flex-direction: column;
    text-shadow: 7px 3px 5px rgb(0, 0, 0);
    align-items: center;
}


.parteTexto {
    z-index: 20;
    max-width: 1000px;
    font-size: 30px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 7px 3px 5px rgb(0, 0, 0);
    z-index: 10;
    margin: 0 auto;
}





/*boton de registrar*/

#buttonRegistrate,
#buttonRegistrate::before,
#buttonRegistrate::after,
#buttonRegistrate span,
#buttonRegistrate span::before,
#buttonRegistrate span::after {
    transition: all ease .5s;
}

#buttonRegistrate {
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 3.5em;
    border: solid 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 40px;
    color: #8faf69;
    z-index: 10;

}

#buttonRegistrate:hover {
    box-shadow: 0 0 5em .5em #353434;

}

#buttonRegistrate span {
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;

}

#buttonRegistrate:hover span {
    background-color: rgb(95, 94, 94);
    color: #8faf69;
}

#buttonRegistrate::before,
#buttonRegistrate::after,
#buttonRegistrate span::before,
#buttonRegistrate span::after {
    content: '';
    position: absolute;
    border: 1px;
}

#buttonRegistrate::before,
#buttonRegistrate span::before {
    border-style: solid none;
}

#buttonRegistrate::before,
#buttonRegistrate span::after {
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

#buttonRegistrate::after,
#buttonRegistrate span::after {
    border-style: none solid;
}

#buttonRegistrate::after,
#buttonRegistrate span::before {
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

#buttonRegistrate:hover::after,
#buttonRegistrate:hover span::after {
    transform: scaleY(0);
}

#buttonRegistrate:hover::before,
#buttonRegistrate:hover span::before {
    transform: scaleX(0);
}

#buttonRegistrate:hover span::after,
#buttonRegistrate:hover span::before {
    opacity: 0;
}


/*finaliza registro*/



.textPrincipal1 h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;

}

.textPrincipal1 p {
    margin-bottom: 35px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnRegistrateYa {
    background-color: #8faf69;
    border: 2px;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    height: 80px;
    width: 250px;
    font-size: 20px;
    flex-direction: flex;
}

#btnRegistrateYa:hover {
    box-shadow: inset 1px 4px 6px 2px rgba(0, 0, 0, .1);
    background: #000000;
}

.fondoNegro {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
}

/* Formulario de Registro */

#formularioInscripcion {
    position: fixed;
    top: 50%;
    right: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(50%) translateY(-50%);
    width: 100%;
    max-width: 600px;
    max-height: fit-content;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 100;
    padding: 30px;

}

#formularioInscripcion h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

#cerrarFormularioInscripcion {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #9e9e9e;
    cursor: pointer;
}

.registroPrincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.registroPrincipal .formSection {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registroPrincipal .field {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 15px;
}

.registroPrincipal .formSection:last-child .field {
    margin-bottom: 0;
}

.registroPrincipal .formSection .field:last-child {
    margin-right: 0;
}

.registroPrincipal .fieldEmail,
.registroPrincipal .fieldSelect,
.registroPrincipal .fieldFile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.registroPrincipal .fieldRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.registroPrincipal .fieldSelect .selectFechas {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.registroPrincipal .fieldSelect .selectFechas select {
    width: 100%;
    margin-right: 20px;
    height: 40px;
}

.registroPrincipal .fieldSelect .selectFechas select:last-child {
    margin-right: 0;
}



.registroPrincipal .fieldRadio .option {
    margin-bottom: 5px;
}

.registroPrincipal .fieldRadio .option label {
    font-size: 14px;
}

.registroPrincipal .field input,
.registroPrincipal .fieldEmail input,
.registroPrincipal .fieldSelect .selectFechas select {
    border-radius: 5px;
    border: 1px solid rgb(80, 80, 80);
    font-size: 14px;
    height: 25px;
    text-align: left;
    padding-left: 10px;
    color: #5b5b5b;
}

.registroPrincipal .field label,
.registroPrincipal .fieldEmail label,
.registroPrincipal .fieldRadio p,
.registroPrincipal .fieldSelect p,
.registroPrincipal .fieldSelect label,
.fieldFile p {
    font-size: 14px;
    font-weight: 700;
    color: #5b5b5b;
    margin-bottom: 3.5px;
}

.registroPrincipal .fieldEmail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submitRegistrate {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2;
    font-weight: 700;
    background-color: #379914;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.submitRegistrate:hover {
    background: #24680c;
    cursor: pointer;
}

.foto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.showPhoto {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid #5b5b5b;
    border-bottom: none;
}

.inputFotoPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 30px;
    background-color: #5b5b5b;
    cursor: pointer;
}

.inputFotoPerfil:hover {
    background-color: #9a9a9a;
}

.inputFotoPerfil i {
    font-size: 20px;
    color: #ffffff;
}

#fotoPerfil {
    display: none;
}





/*estilos de la seccion Que es por SVC*/

.seccionQueEs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: #7e7b7b;
    width: 100%;
    height: 850px;
}

.textQueEs {

    max-width: 500px;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 24px;
}

.textQueEs h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.buttonInformacion {
    background-color: #8faf69;
    border: 2px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5%;
    height: 40px;
    width: 150px;
    font-size: 16px;



}

.buttonText {
    color: white;

}



.buttonInformacion:hover {
    box-shadow: inset 1px 4px 6px 2px rgba(0, 0, 0, .1);
    background: #000000;

}

/*Termina estilos de la seccion Que es*/

/*estilos de la seccion beneficios por SVC*/
.beneficioContenedor {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

}

.encabezadoBeneficio {
   
    max-width: 500px;
    margin: 0px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.encabezadoBeneficio h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}


.beneficio {

    max-width: 300px;
    margin-bottom: 35px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.icon {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    background-color: #8faf69;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.beneficio .icon i {
    font-size: 60px;
    color: white;
}


.text h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.text p,
.text h3,
.encabezadoBeneficio p {
    text-align: center;

    padding: 0 5px 5px 5px;

}

/*Hasta aqui los estilos de la seccion beneficios hecho por SVC*/

/* Seccion Slider de Recetas */

#seccionSlider {
    padding: 40px;
    height: 800px;
    width: 100%;
    background-color: #4b4d4a;
}

#seccionSlider h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

#seccionSlider .contenedorPrincipal {
    max-width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


#seccionSlider .contenedorSlider {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


#seccionSlider .contenedorSlider input[type='radio'] {
    display: none;

}

#seccionSlider .cards {
    position: relative;
    width: 100%;
    height: 100%;
    
}

#seccionSlider .card {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

}

#seccionSlider .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}

#seccionSlider .cardInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(41, 41, 41, 1) 100%);
}


#seccionSlider .cardText {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 70%;
    text-align: right;
    color: white; text-shadow: black 0.1em 0.1em 0.2em

}

#seccionSlider .cardButton {
    display: block;
    color: white;
}


#seccionSlider .card h3 {
    font-size: 30px;
    margin-bottom: 10px;
    
}

#seccionSlider .card p {
    font-size: 14px;
}

#slider-opt1:checked~.cards #slider-img7,
#slider-opt2:checked~.cards #slider-img1,
#slider-opt3:checked~.cards #slider-img2,
#slider-opt4:checked~.cards #slider-img3,
#slider-opt5:checked~.cards #slider-img4,
#slider-opt6:checked~.cards #slider-img5,
#slider-opt7:checked~.cards #slider-img6 {
    transform: translateX(-115%);
    opacity: 0.8;
    z-index: 3;
}

#slider-opt1:checked~.cards #slider-img6,
#slider-opt2:checked~.cards #slider-img7,
#slider-opt3:checked~.cards #slider-img1,
#slider-opt4:checked~.cards #slider-img2,
#slider-opt5:checked~.cards #slider-img3,
#slider-opt6:checked~.cards #slider-img4,
#slider-opt7:checked~.cards #slider-img5 {
    transform: translateX(-220%);
    opacity: 0.4;
    z-index: 2;
}

#slider-opt1:checked~.cards #slider-img5,
#slider-opt2:checked~.cards #slider-img6,
#slider-opt3:checked~.cards #slider-img7,
#slider-opt4:checked~.cards #slider-img1,
#slider-opt5:checked~.cards #slider-img2,
#slider-opt6:checked~.cards #slider-img3,
#slider-opt7:checked~.cards #slider-img4 {
    transform: translateX(-325%);
    opacity: 0.2;
    z-index: 1;
    opacity: 0;
}

#slider-opt1:checked~.cards #slider-img4,
#slider-opt2:checked~.cards #slider-img5,
#slider-opt3:checked~.cards #slider-img6,
#slider-opt4:checked~.cards #slider-img7,
#slider-opt5:checked~.cards #slider-img1,
#slider-opt6:checked~.cards #slider-img2,
#slider-opt7:checked~.cards #slider-img3 {
    transform: translateX(325%);
    opacity: 0.2;
    z-index: 1;
    opacity: 0;
}

#slider-opt1:checked~.cards #slider-img3,
#slider-opt2:checked~.cards #slider-img4,
#slider-opt3:checked~.cards #slider-img5,
#slider-opt4:checked~.cards #slider-img6,
#slider-opt5:checked~.cards #slider-img7,
#slider-opt6:checked~.cards #slider-img1,
#slider-opt7:checked~.cards #slider-img2 {
    transform: translateX(220%);
    opacity: 0.4;
    z-index: 2;
}

#slider-opt1:checked~.cards #slider-img2,
#slider-opt2:checked~.cards #slider-img3,
#slider-opt3:checked~.cards #slider-img4,
#slider-opt4:checked~.cards #slider-img5,
#slider-opt5:checked~.cards #slider-img6,
#slider-opt6:checked~.cards #slider-img7,
#slider-opt7:checked~.cards #slider-img1 {
    transform: translateX(115%);
    opacity: 0.8;
    z-index: 3;
}


#slider-opt1:checked~.cards #slider-img1,
#slider-opt2:checked~.cards #slider-img2,
#slider-opt3:checked~.cards #slider-img3,
#slider-opt4:checked~.cards #slider-img4,
#slider-opt5:checked~.cards #slider-img5,
#slider-opt6:checked~.cards #slider-img6,
#slider-opt7:checked~.cards #slider-img7 {
    transform: translateX(0);
    z-index: 5;
}


/* Hasta aqui los estilos del Slider de Recetas hecho por Andres */

/*Seccion Recomendacion de usuario hecho por SVC*/

.seccionRecommendUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(../Img/index/bottomsection.jpg);
    width: 100%;
    height: 700px;
}

.textRecomendacion {

    max-width: 500px;
    background: rgba(0, 0, 0, .8);
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5%;


}

.textRecomendacion h2 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 40px;
}



/*Fin de Seccion Recomendacion de usuario hecho por SVC*/




/*Seccion de planes por Sebas*/
/*planes*/

.contenidoPlanes {
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(../Img/index/planes.jpg);
    margin: auto;
    line-height: 90px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 900px;
}



.titulo {
    line-height: 90px;
    font-family: Verdana;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    justify-content: center;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-size: 50px;

}

.texto {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;


}

.card {
    justify-content: center;
    width: 100%;
    margin: 50px;
    border-radius: 9px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
    flex-wrap: wrap;
}



/*sombra de las tarjetas*/
.card:hover {

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

/*texto de las tarjetas*/
.card .contenido-card {
    padding: 15px;
    text-align: center;
    margin: auto;

}

/*alineación del texto tarjetas*/
.card .contenido-card p {
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 5px;
    margin: auto;
    justify-content: center;
}


.listasPlanes {
    line-height: 30px;
    text-align: left;
    margin: auto;
    justify-content: center;
}

@media (min-width:576px) {
    #formularioInscripcion h2 {
        font-size: 30px;
    }

    .registroPrincipal .formSection {
        flex-direction: row;
    }

    .registroPrincipal .field {
        width: 50%;
        margin-bottom: 20px;
    }

    .registroPrincipal .fieldEmail,
    .registroPrincipal .fieldSelect,
    .registroPrincipal .fieldFile {
        margin-bottom: 20px;
    }

    .registroPrincipal .fieldRadio {
        margin-bottom: 20px;
    }

    .registroPrincipal .fieldRadio .option label {
        font-size: 16px;
    }

    .registroPrincipal .field input,
    .registroPrincipal .fieldEmail input,
    .registroPrincipal .fieldSelect .selectFechas select {
        font-size: 16px;
        height: 40px;
    }

    .registroPrincipal .field label,
    .registroPrincipal .fieldEmail label,
    .registroPrincipal .fieldRadio p,
    .registroPrincipal .fieldSelect p,
    .registroPrincipal .fieldSelect label,
    .fieldFile p {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

.subtitulo {
    justify-content: center;
    font-size: 25px;
    font-family: Verdana;
    line-height: 50px;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;


}


.explicacionPlanes {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Arial;
    line-height: 50px;
    margin: auto;
}


/*tarjeta cuadro*/
@media (min-width:768px) {

    .container-card {
        flex-direction: row;
    }

    .card {
        margin: 15px;
    }

    #seccionSlider .card {
        width: 500px;
        height: 500px;
    }

    .beneficioContenedor {
        flex-direction: column;
        align-items: center;

    }

    .encabezadoBeneficio {
        flex-direction: column;
        width: 800px;

    }

    .beneficio {

        margin-right: 20px;

    }

    .beneficio:last-child {
        margin-right: 0;
    }


    .row {
        display: flex;
        flex-direction: row;
    }


    .fa fa-heartbeat {
        margin-right: 10px;
        margin-left: 20px;
    }
}

@media (min-width :992px) {

    .textRecomendacion {
        height: 700px;
        margin: 80px 40px 80px 600px;

    }

    .textRecomendacion p {
        margin: 40px 40px 40px 40px;
    }

    .textRecomendacion h3 {
        font-size: 25px;
        margin: 40px 40px 40px 40px;
    }

    #seccionSlider .card {
        width: 400px;
        height: 400px;
    }

    #fondoSeccionQueEs {
        background-size: cover;
    }

    .textQueEs {
        height: 700px;
        margin: 80px 40px 80px 40px;

    }

    .textQueEs p {
        margin: 40px 40px 40px 40px;
    }

    .textQueEs h2 {
        margin: 40px 40px 40px 40px;
        font-weight: bold;
    }

    .buttonInformacion {
        height: 50px;
        width: 200px;
    }
}