
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

main {
    display:flex;
    min-height: 100%;
    padding: auto;
}


/* Estilos SideMenu--------------------------- */
.sidebar{
    position: block;
    left: 0;
    min-width: 250px;
    height: 100%;
    background: #dfede3;
}
.sidebar h1 {
    font-size: 22px;
    color: var(--color-green);
    text-align: center;
    line-height: 70px;
    background: var(color-lightgreen);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: black;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(203, 203, 203, 0.1);
    transition: .2s;
}
ul li:hover a{
    padding-left: 30px;
    background-color: var(--color-green);
}

.sidebar ul button{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: black;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(203, 203, 203, 0.1);
    transition: .2s;
}
ul li:hover button{
    padding-left: 30px;
    background-color: var(--color-green);
}


/* Estilos Informacion--------------------------- */

.sectionContainer {
    width: 100%;
}

.container {
    margin: 50px 0 0 0;
    width: 100%;
}

.container h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
}

.container .contenido {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.contenido .dosHijos {
    display: flex;
    justify-content: space-between;
}



#informacion .contenido {
    display: flex;
    justify-content: space-between;
}

#informacion .contenido .datos h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

#informacion .separador {
    width: 3px;
    height: 350px;
    background-color: rgba(0, 0, 0, .3);
    align-self: center;
}

#informacion .contenido .valores p {
    margin-bottom: 30px;
    font-size: 20px;
}

#informacion .fotoRecomendaciones {
    width: 300px;
}

#informacion .fotoRecomendaciones .foto {
    margin-bottom: 30px;
}

#informacion .fotoRecomendaciones .foto img {
    width: 100%;
}

#informacion .fotoRecomendaciones .recomendaciones {
    width: 100%;
    height: 125px;
    background-color: #bbbbbb;
    padding: 15px;
    border-radius: 5px;
}

#informacion .fotoRecomendaciones .recomendaciones h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#informacion .fotoRecomendaciones .recomendaciones .proteina,
#informacion .fotoRecomendaciones .recomendaciones .agua {
    display: flex;
    margin-bottom: 15px;
}

.fotoRecomendaciones .recomendaciones .proteina p,
.fotoRecomendaciones .recomendaciones .agua p {
    margin-left: 10px;
}

/* Estilos Para Tablas de Datos*/

.datosTabla {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
}

.datosTabla td,
.datosTabla th {
    font-size: 15px;
    width: 2%;
    border-right: 3px solid #adadad;
    text-align: center;
    padding: 10px;
}

.datosTabla th {
    font-weight: 700;
    font-size: 20px;
}

.datosTabla td:last-child,
.datosTabla th:last-child {
    border-right: 0;
}



/* Estilos Registros Nuevos */

.ingresoDatos {
    background-color: var(--color-green);
    width: 350px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 11px 10px 15px -2px rgba(166,166,166,0.75);
}

.ingresoDatos h3 {
    color: var(--color-lightgreen1);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.ingresoDatos .field {
    display: flex;
    margin-bottom: 25px;
}

.ingresoDatos .field span {
    color: rgba(255, 0, 0, 1);
}

.fieldRadio {
    display: flex;
    flex-direction: column;
}

.ingresoDatos .field label {
    color: var(--color-lightgreen1);
    width: 140px;
    font-weight: 600;
    text-transform: uppercase;
}

.ingresoDatos .field input,
.ingresoDatos .field select {
    width: 200px;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
}

.ingresoDatos .fieldRadio {
    margin-bottom: 25px;
}

.ingresoDatos .fieldRadio span {
    color: rgba(255, 0, 0, 1);
}

.ingresoDatos .fieldRadio input {
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
}

.ingresoDatos .fieldRadio label {
    color: var(--color-lightgreen1);
    margin-bottom: 5px;
}

.ingresoDatos .fieldRadio p {
    color: var(--color-lightgreen1);
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}


.buttonRegistro {
    display: block;
    margin: 15px auto 0;
    font-size: 15px;
    font-weight: 700;
    width: 50%;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

/*  */

/* Estilos Plan de ayuno---------------------------- */
#planAyuno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#planAyuno .contenedorTiposAyuno{
    border-radius:10px;
    background-image: url(../Img/perfil/background-tiposayunos\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 400px;
    width: 90%;
    border: 1px solid black;
}
#planAyuno .contenedorTiposAyuno .contenedorTituloTipos{
    opacity: 1;
}

#planAyuno .contenedorTiposAyuno h3{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    background-color: rgba(217, 234, 218, 0.8);
    padding: 10px;
    border-radius:10px;
}

#planAyuno .tiposAyuno{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#planAyuno .tiposAyuno div{
    padding: 20px;
    height: 250px;
    max-width: 30%;
    background-color: rgba(217, 234, 218, 0.8);
    border-radius:10px;
    text-align: justify;
    transition: 0.3s;
}
#planAyuno .tiposAyuno div:hover{
    background-color: rgba(217, 234, 218, 1);
}

#planAyuno .separadorVertical{
    width: 90%;
    height: 3px;
    background-color: rgba(0, 0, 0, .3);
    margin-top: 50px;
    margin-bottom: 50px;
    
}
#planAyuno .tablaFormularioAyuno{
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    justify-content: space-evenly;
}

/* .ingresoDatosAyuno{
    background-color: ;
} */
.ingresoDatosAyuno .field {
    display: flex;
    margin-bottom: 5px;
}

.ingresoDatosAyuno .field label {
    width: 100px;
}

.ingresoDatosAyuno .field input {
    width: 200px;
    margin-left: 10px;
    border: none;
}

.ingresoDatosAyuno h3{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.recomendacionAyuno h3{
    padding-top: 20px;
}
.recomendacionAyuno{
background-color: white;
margin-top: 20px;
border-radius: 10px;
}
.parrafoImagenAyuno{
    display: flex;
    flex-direction: row;
}
.parrafoImagenAyuno p{
    padding: 10px;
    text-align: justify;
}
.parrafoImagenAyuno img{
    margin: 10px;
    border-radius: 5px;
    margin-top: 80px;
}

