
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

main {
    display: flex;
    height: 200vh;
}

/* Estilos SideMenu--------------------------- */
.sidebar{
    position: block;
    left: 0;
    min-width: 250px;
    height: 100%;
    background: #dfede3;
}
.sidebar h1 {
    font-size: 22px;
    color: var(--color-green);
    text-align: center;
    line-height: 70px;
    background: var(color-lightgreen);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: black;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(203, 203, 203, 0.1);
    transition: .2s;
}
ul li:hover a{
    padding-left: 30px;
    background-color: var(--color-green);
}

/* Estilos XXXXXXXXXXXXXX--------------------------- */
.container {
    margin: 50px 0 0 60px;
    width: 100%;
}

.contenido {
    width: 1200px;
}
.contenido .dosHijos {
    display: flex;
    justify-content: space-between;
}

#informacion h2,
#peso h2,
#planAyuno h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
}

#informacion .contenido {
    display: flex;
    justify-content: space-between;
}

#informacion .contenido .datos h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

#informacion .separador {
    width: 3px;
    height: 350px;
    background-color: rgba(0, 0, 0, .3);
    align-self: center;
}

#informacion .contenido .valores p {
    margin-bottom: 30px;
    font-size: 20px;
}

#informacion .fotoRecomendaciones {
    width: 300px;
}

#informacion .fotoRecomendaciones .foto {
    margin-bottom: 30px;
}

#informacion .fotoRecomendaciones .foto img {
    width: 100%;
}

#informacion .fotoRecomendaciones .recomendaciones {
    width: 100%;
    height: 125px;
    background-color: #bbbbbb;
    padding: 15px;
    border-radius: 5px;
}

#informacion .fotoRecomendaciones .recomendaciones h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#informacion .fotoRecomendaciones .recomendaciones .proteina,
#informacion .fotoRecomendaciones .recomendaciones .agua {
    display: flex;
    margin-bottom: 15px;
}

.fotoRecomendaciones .recomendaciones .proteina p,
.fotoRecomendaciones .recomendaciones .agua p {
    margin-left: 10px;
}

/* Estilos Para Tablas de Datos (PESO) */

.datosPeso {
    width: 700px;
}

.datosPeso td,
.datosPeso th {
    width: calc(100% / 3);
    border: 1px solid #000;
}

/* Estilos Registros Nuevos */

.ingresoDatos {
    background-color: #bbbbbb;
    width: 300px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.ingresoDatos h3 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
}

.ingresoDatos .field {
    display: flex;
    margin-bottom: 5px;
}

.ingresoDatos .field label {
    width: 100px;
}

.ingresoDatos .field input {
    width: 200px;
    margin-left: 10px;
    border: none;
}


.buttonRegistro {
    display: block;
    margin: 15px auto 0;
    font-size: 15px;
    font-weight: 700;
    width: 50%;
    border: none;
}

/*  */

/* Estilos Plan de ayuno---------------------------- */