main {
    display: flex;
    min-height: 100%;
    padding: auto;
}

body {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}


/* Estilos SideMenu--------------------------- */

.perfilNav {
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.perfilNav a {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid var(--col-green);
    height: fit-content;
    color: var(--col-green);
    border-radius: 10px;
    transition: all .3s ease;
}

.perfilNav a:hover {
    border: 2px solid var(--col-green);
    color: #FFFFFF;
    background-color: var(--col-green);
}

.menu-dashboard {
    position: fixed;
    top: 0;
    max-width: 150px;
    height: 100vh;
    background: var(--col-lightgray);
    padding: 20px;
    transition: max-width .3s ease;
    z-index: 20;

}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
    font-weight: 600;
    color: var(--col-darkgray);
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
    max-height: 65px;
    color: var(--col-darkgray);
}

.menu .enlace:hover {
    background: #d4d4d4;
}

.menu .enlace i,
.menu .enlace a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    color: var(--col-green);
    text-align: center;
    transition: all .8s ease;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .1s ease;
}

.menu-dashboard.open {
    max-width: 500px;

}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    width: auto;
}


.menu-dashboard.open .menu .enlace i {
    margin-left: 0;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

/* GRAFICOS */
.graficos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}


/* SECCION: INFORMACION --------------------------- */

.sectionContainer {
    width: 100%;
    margin-left: 300px;

    justify-content: center;
    display: flex;
}

.container {
    margin: 20px 0 0 0;
    width: 100%;
}

.container h2 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
    color: var(--col-gray);
}

.container .contenido {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 70px 20px 20px;
    position: relative;
    background-color: var(--col-lightgray);
    border-radius: 10px;
}



#informacion .contenido {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

#informacion .contenido .contenidoDatos {
    display: flex;
}

#informacion .contenido .contenidoDatos .datos h3 {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--col-gray);
    text-transform: uppercase;
}

#informacion .contenido .contenidoDatos .valores {
    margin-left: 60px;
}

#informacion .contenido .contenidoDatos .valores p {
    margin-bottom: 50px;
    font-size: 20px;
    height: fit-content;
    line-height: 1;
}

#informacion .fotoRecomendaciones {
    width: 300px;
}

#informacion .fotoRecomendaciones .foto {
    margin-bottom: 30px;
}

#informacion .fotoRecomendaciones .foto img {
    width: 100%;
    border-radius: 20px;
}

#informacion .fotoRecomendaciones .recomendaciones {
    width: 100%;
    height: fit-content;
    background-color: #bbbbbb;
    padding: 15px;
    border-radius: 5px;
}

#informacion .fotoRecomendaciones .recomendaciones h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#informacion .fotoRecomendaciones .recomendaciones .proteina,
#informacion .fotoRecomendaciones .recomendaciones .agua {
    display: flex;
    margin-bottom: 15px;
}

.fotoRecomendaciones .recomendaciones .proteina p,
.fotoRecomendaciones .recomendaciones .agua p {
    margin-left: 10px;
}


/* SECCION EDITAR */

/* Estilos Para Tablas de Datos*/

.datosTabla {
    width: 100%;
    height: fit-content;
}

tbody.datosTabla tr:nth-child(odd) {
    background-color: #3e8e41;
}

.datosTabla td,
.datosTabla th {
    font-size: 15px;
    width: 2%;
    text-align: center;
    padding: 10px;
}

.datosTabla th {
    font-weight: 700;
    font-size: 20px;
}

.datosTabla td:last-child,
.datosTabla th:last-child {
    border-right: 0;
}

.buttonAbrirForm,
.btnAbrirEditar {
    position: absolute;
    background-color: #9c9c9c;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}


.buttonAbrirForm:hover,
.btnAbrirEditar:hover {
    background-color: #b4b4b4;
}

.buttonAbrirForm {
    top: 5px;
    right: 5px;

    padding: 10px 20px;
    border: none;
}

.btnAbrirEditar {
    top: 5px;
    right: 175px;
    padding: 10px 20px;
    border: none;
}

/* Estilos Registros Nuevos */

.errorDato {
    border: solid 4px red;
}

.ingresoDatos {
    background-color: var(--col-lightgray);
    max-width: 500px;
    height: fit-content;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#editarDatosInformacion {
    display: none;
    z-index: 100;
}

#ingresoDatosPeso {
    display: none;
    z-index: 100;
}

#ingresoDatosEnfermedades {
    display: none;
    z-index: 100;
}

#ingresoDatosActividades {
    display: none;
    z-index: 100;
}

#ingresoDatosLogrosObjetivos {
    display: none;
    z-index: 100;
}

#ingresoDatosAyuno {
    display: none;
    z-index: 100;
}

#ingresoDatosRecetas {
    display: none;
    z-index: 100;
}

#editarDatosInformacion .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ingresoDatosPeso .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ingresoDatosEnfermedades .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ingresoDatosActividades .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ingresoDatosLogrosObjetivos .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ingresoDatosAyuno .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ingresoDatosRecetas .cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ingresoDatos h3 {
    color: var(--col-gray);
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
}

.ingresoDatos .field,
.ingresoDatos .fieldEmail,
.ingresoDatos .fieldSelect {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.ingresoDatos .field span {
    color: rgba(255, 0, 0, 1);
}

.fieldRadio {
    display: flex;
    flex-direction: column;
}

.ingresoDatos .field label {
    color: var(--col-gray);
    width: 70px;
    text-transform: uppercase;
    font-size: 15px;
}


.ingresoDatos .field input {
    width: 300px;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
    height: 35px;
    padding: 0 10px;
}


.ingresoDatos .field input:focus,
.ingresoDatos .field select:focus {
    outline: none;
}

.ingresoDatos .fieldRadio {
    margin-bottom: 25px;
}

.ingresoDatos .fieldRadio span {
    color: rgba(255, 0, 0, 1);
}

.ingresoDatos .fieldRadio input {
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
}

.ingresoDatos .fieldRadio label {
    color: var(--color-lightgreen1);
    margin-bottom: 5px;
    font-size: 20px;
}

.ingresoDatos .fieldRadio p {
    color: var(--color-lightgreen1);
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}


.buttonRegistro {
    display: block;
    margin: 15px auto 0;
    font-size: 15px;
    font-weight: 700;
    width: 50%;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: var(--col-green);
    color: #ffffff;
    border-radius: 5px;
}

#editarDatosInformacion {
    background-color: var(--col-lightgray);
    max-width: 700px;
    height: fit-content;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#editarDatosInformacion .field label {
    display: block;
    color: var(--col-gray);
    width: 200px;
    text-transform: uppercase;
    font-size: 15px;
}

#editarDatosInformacion .field input {
    width: 100%;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
    height: 35px;
    padding: 0 10px;
}

#editarDatosInformacion .fieldSelect .selectFechas {
    width: 100%;
}

#editarDatosInformacion .fieldSelect p {
    display: block;
    color: var(--col-gray);
    width: 200px;
    text-transform: uppercase;
    font-size: 15px;
}

#editarDatosInformacion .fieldSelect .selectFechas select {
    width: 29%;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
    height: 35px;
    padding: 0 10px;
}

#editarDatosInformacion .fieldEmail label {
    display: block;
    color: var(--col-gray);
    width: 200px;
    text-transform: uppercase;
    font-size: 15px;
}

#editarDatosInformacion .fieldEmail input {
    display: block;
    width: 100%;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
    height: 35px;
    padding: 0 10px;
}

#editarDatosInformacion .fieldRadio p {
    display: block;
    color: var(--col-gray);
    width: 200px;
    text-transform: uppercase;
    font-size: 15px;
}

#editarDatosInformacion .fieldRadio .option {
    display: flex;
    align-items: center;
}


#editarDatosInformacion .fieldRadio input {
    margin-left: 10px;
    height: 15px;
    padding: 0 10px;
}

#editarDatosInformacion .fieldRadio .option label {
    color: var(--col-gray);
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
}

#editarDatosInformacion .fieldFile {
    width: 100%;
}

#editarDatosInformacion .fieldFile .foto .showPhoto img {
    width: 50%;
}


#editarDatosInformacion .foto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.butonUploadPhoto {
    height: 30px;
}

#editarDatosInformacion .uploadPhoto {
    width: 100%;
    height: 30px;
}



#editarDatosInformacion .showPhoto {
    width: 100%;
    height: 200px;
    border: 3px solid #9c9c9c;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.showPhoto img {
    max-width: 100%;
    max-height: 100%;
}

#editarDatosInformacion .inputFotoPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #5b5b5b;
    cursor: pointer;
}

#editarDatosInformacion .inputFotoPerfil:hover {
    background-color: #9a9a9a;
}

#editarDatosInformacion .inputFotoPerfil i {
    font-size: 20px;
    color: #ffffff;
}

#editarDatosInformacion #fotoPerfil {
    display: none;
}

#editarDatosInformacion .submitRegistrate {
    display: block;
    margin: 20px auto 0;
    padding: 10px 40px;
    background-color: var(--col-green);
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}

#editarDatosInformacion .submitRegistrate:hover {
    display: block;
    margin: 20px auto 0;
    padding: 10px 40px;
    background-color: var(--col-green);
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}

/*  */

/* Estilos Plan de ayuno---------------------------- */
#planAyuno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
}

#planAyuno .contenedorTiposAyuno {
    border-radius: 10px;
    background-color: var(--col-green);
    padding: 20px;
    height: 400px;
    margin-bottom: 40px;
}


#planAyuno .contenedorTiposAyuno h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

#planAyuno .tiposAyuno {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#planAyuno .tarjetaDescTipoAyuno {
    padding: 20px;
    height: 300px;
    max-width: 22%;
    background-color: var(--col-lightgray);
    border-radius: 10px;
    text-align: justify;
    transition: 0.3s;
}

#planAyuno .tarjetaDescTipoAyuno h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--col-gray);

}

#planAyuno .tarjetaDescTipoAyuno p {
    color: var(--col-gray);

}

#planAyuno .tablaFormularioAyuno {
    width: 90%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* .ingresoDatosAyuno{
    background-color: ;
} */
.ingresoDatosAyuno .field {
    display: flex;
    margin-bottom: 5px;
}

.ingresoDatosAyuno .field label {
    width: 100px;
}

.ingresoDatosAyuno .field input {
    width: 200px;
    margin-left: 10px;
    border: none;
}

.ingresoDatosAyuno h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.recomendacionAyuno h3 {
    padding-top: 20px;
}

.recomendacionAyuno {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.parrafoImagenAyuno {
    display: flex;
    flex-direction: row;
}

.parrafoImagenAyuno p {
    padding: 10px;
    text-align: justify;
}

.parrafoImagenAyuno img {
    margin: 10px;
    border-radius: 5px;
    margin-top: 80px;
}

@media (min-width: 1137px) {
    .contenedorTiposAyuno {
        flex-direction: column;
        align-items: center;

    }
}

/*Estilos Imagenes Recetas */

.recetaFoto {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.showReceta {
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid #5b5b5b;
    border-bottom: none;
}

.inputFotoReceta {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 30px;
    background-color: #5b5b5b;
    cursor: pointer;
}

.inputFotoReceta:hover {
    background-color: #9a9a9a;
}

.inputFotoReceta i {
    font-size: 20px;
    color: #ffffff;
}

#fotoReceta {
    display: none;
}

.receta {
    height: 60%;
    width: 60%;
}


/*CSS para generar recetas display*/
/*NO TOCAR, ES LA ESTRUCTURA DE LAS RECETAS*/
/* .recetaGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 600px;
    background-color: rgba(0, 255, 51, 0.5);
    margin: 40px;
    border-radius: 40px;
    }
    
    .nombreReceta { grid-area: 1 / 1 / 2 / 11; }
    .imgReceta { grid-area: 2 / 1 / 5 / 5; }
    .categoriaReceta { grid-area: 2 / 5 / 3 / 7; }
    .tipoReceta { grid-area: 2 / 7 / 3 / 9; }
    .tiempoReceta { grid-area: 2 / 9 / 3 / 11; }
    .divpasosReceta { grid-area: 3 / 5 / 4 / 8; }
    .ingredientesReceta { grid-area: 3 / 8 / 4 / 11; }
    .buttonEliminar { grid-area: 4 / 5 / 5 / 11; } */
/*NO TOCAR, PUEDE EDITAR LO QUE ESTA ABAJO*/

.RecetaInput {
    display: flex;
    gap: 30px;
}

.recetaLayout {
    max-width: 400px;
    box-shadow: 8px 7px 19px 0px rgba(153,153,153,0.75);
    border-radius: 10px;
    height: fit-content;
    position: relative;
    padding:  40px 15px 20px;
}

.recetaLayout .nombreReceta h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--col-gray);
}


.recetaLayout .imgReceta img {
    display: block;
    width: 50%;
    
    border-radius: 50%;
    margin: 0 auto 35px;
    background-color: #ffffff;
}

.recetaLayout .categoriaReceta,
.recetaLayout .tipoReceta,
.recetaLayout .tiempoReceta {
    text-align: left;
    display: flex;
    margin-bottom: 10px;
}

.recetaLayout .categoriaReceta h3,
.recetaLayout .tipoReceta h3, 
.recetaLayout .tiempoReceta h3 {
    text-align: left;
    display: flex;
    width: 100px;
    color: var(--col-gray);
    line-height: 1;
    height: fit-content;
}



.recetaLayout .tiempoReceta {
    display: flex;
    flex-direction: column;

}

.recetaLayout .tiempoReceta p {
    margin-left: 20px;
}

.recetaLayout .tiempoReceta p::before {
    content: '- ';
}

.recetaLayout .tipoReceta {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--col-green);
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}

.recetaLayout .tipoReceta p {
    height: fit-content;
    line-height: 1;
}

.recetaLayout .tipoReceta h3 {
    width: 50px;
    color: #ffffff;
}

.recetaLayout .pasosReceta,
.recetaLayout .ingredientesReceta {
    background-color: var(--col-green);
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.recetaLayout .pasosReceta h2,
.recetaLayout .ingredientesReceta h2 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #FFFFFF;
}

.recetaLayout .pasosReceta p,
.recetaLayout .ingredientesReceta p {
    font-size: 16px;
}

.recetaLayout .ingredientesReceta p::before {
    content: '- ';
}

.recetaLayout .buttonEliminar {
    position: absolute;
    top: 5px;
    right: 5px;
}

.recetaLayout .buttonEliminar button {
    color: #ffffff;
    background-color: #3e8e41;
    border: none;
    padding:3px 5px;
    border-radius: 5px;
}

.recetaLayout .buttonEliminar button:hover {
    background-color: #a3cea5;
}
.buttonEliminar button {
    float: right;
    margin-right: 50px;
    border: none;
}

.buttonEliminar i {
    font-size: 50px;
    background-color: #f4f4f4;
}

.fa-solid:hover {
    color: #3e8e41;
}

.fa-solid:active {
    transform: translateY(4px);
}

.buttonEliminar .fa-solid {
    font-size: 30px;
    align-items: center;
}

#datosLogros .fa-solid {
    font-size: 50px;
}

#ingresoDatosLogrosObjetivos .fa-solid {
    font-size: 50px;
}

#datosLogros .fa-heart,
#ingresoDatosLogrosObjetivos .fa-heart {
    color: red;
}

#datosLogros .fa-face-smile-beam,
#ingresoDatosLogrosObjetivos .fa-face-smile-beam {
    color: orange;
}
#datosLogros .fa-weight-scale,
#ingresoDatosLogrosObjetivos .fa-weight-scale {
    color: purple;
}

#datosLogros .fa-utensils,
#ingresoDatosLogrosObjetivos .fa-utensils {
    color: silver;
}

#datosLogros .fa-medal,
#ingresoDatosLogrosObjetivos .fa-medal {
    color: gold;
}

#datosLogros .fa-apple-whole,
#ingresoDatosLogrosObjetivos .fa-apple-whole {
    color: red;
}

#datosLogros .fa-dumbbell,
#ingresoDatosLogrosObjetivos .fa-dumbbell {
    color: brown;
}

#datosLogros .fa-heart-pulse,
#ingresoDatosLogrosObjetivos .fa-heart-pulse {
    color: blue;
}

#cajitaRadio label,
#cajitaRadio p{
    color:#000000;
}

/* FOOTER EXCLUSIVO PARA PERFIL */
