html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.contenedor {
    width: 90vw;
    height: 100vh;
    background-color: blanchedalmond;
    border: 5px solid #000;
    margin: 0 auto;
}